img{
    max-width: 100%;
}
.noShow{
    visibility: hidden;
    width: 0;height: 0;
}
.textbox-warning{
   background-color: #FF7D23;
   color: #ffffff;
    padding: 0.3em;
    text-shadow: none;
    border-radius: 0.3em;
}

.my .shoppic i{
    padding-left: 1em;
    display: inline-block;
    vertical-align: top
}
.my .shoppic #s_shoppic{
      position: relative;
    width: 7.4em;max-height: 10em;
    display: inline-block;
}

.my .shoppic img{
    max-height: 100%;max-width: 100%;
}

.my #logoutBtn{
    max-width: 3em;
    max-height: 100%;
    position: absolute;
    top: 1em;
    right: 0;
}

.my form .formErrotip{
    color: red;
    text-align: right;
    font-weight: normal;
    float: right;

}
.my .myPanel .ui-panel-inner{
    margin-top: 1em;
    margin-right: 1em;
}
 .my .myPanel .ui-li{
    background-image: none;
}

 .my .myPanel .activate .ui-icon-arrow-r{
     background-color:#463535;
 }

 .my .scrollable{

     /*overflow-y: scroll;*/
 }


 /*商品详情页图片*/
 .my #pagegoodDetail .gallery{
     height:10em;
     width: 100%;
     position: relative;
     margin: 0;
     padding: 0;
 }
.my .gallery li{
    list-style: none;
    height:10em;
    width: 35%;
    float: left;
    margin-bottom: 10%;
    margin-right: -15%;
    border: 1px solid #000000;
    box-shadow: -3px 1px 15px grey;

    -webkit-transform: perspective(600px) rotateY(20deg);
    transform: perspective(600px) rotateY(20deg);

    transition: all .5s;
    -webkit-transition: all .5s;

}

.my .gallery li.cur{
    margin-right: 0%;
    margin-left: -8%;
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
}

.my .gallery li a{
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-position: 50% 50%;
}

/*添加更多图片*/
.my #moreimg .imgContainer{
    text-align: center;
}
.my #moreimg .imgContainer img{
    max-height: 30em;
    max-width: 100%;
    border: 3px dashed #808080;
    border-radius: 1em;
}