form .formErrotip{
    color: red;
    text-align: right;
    font-weight: normal;
    float: right;

}
.myPanel .ui-panel-inner{
    margin-top: 1em;
    margin-right: 1em;
}
.myPanel .ui-li{
    background-image: none;
}