<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        id        = "com.phonegap.example"
        versionCode="10"
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Yunkoo</name>

    <description>
        An example for phonegap build docs.
    </description>

    <author email="admin@regou.me">
        regou
    </author>
    <icon src="favicon.jpg"/>
    <splash src="images/intro.jpg" />


    <plugin name="InAppBrowser" value="org.apache.cordova.InAppBrowser" />

    <!--Android-->
    <plugin name="Geolocation" value="org.apache.cordova.GeoBroker" />

    <!--iOS-->
    <plugin name="Geolocation" value="CDVLocation" />
    <preference name="webviewboune" value="false"/>



    <access origin="*" />

</widget>