<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        id        = "com.phonegap.example"
        versionCode="10"
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Yunkoo</name>

    <description>
        An example for phonegap build docs.
    </description>

    <author email="admin@regou.me">
        regou
    </author>
    <preference name="phonegap-version" value="2.9.0" />
    <preference name="stay-in-webview" value="false" />
    <preference name="android-maxSdkVersion" value="13" />

    <icon src="favicon.jpg"/>
    <!--<splash src="images/intro.jpg" />-->
    <gap:splash src="splash.png" />


    <plugin name="InAppBrowser" value="org.apache.cordova.InAppBrowser" />

    <!--Android-->
    <plugin name="Geolocation" value="org.apache.cordova.GeoBroker" />

    <!--iOS-->
    <plugin name="Geolocation" value="CDVLocation" />
    <preference name="webviewboune" value="false"/>


    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>


    <access origin="*" />

</widget>