<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        id        = "com.phonegap.example"
        versionCode="10"
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Yunkoo</name>

    <description>
        An example for phonegap build docs.
    </description>

    <author email="admin@regou.me">
        regou
    </author>
    <icon src="favicon.jpg"/>
    <gap:splash src="images/intro.jpg" />

    <preference name="webviewboune" value="false"/>
    <access origin="*" />

</widget>