<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>登录</title>
</head>
<body>


<!--TODO 登录-->
<div ng-controller="loginCtrl" id="pagelogin" data-role="page" ngm-pageshow="prefill()">
    <header data-role="header" data-position="fixed">
        <a href="#!/" class="ui-btn-left" data-direction="reverse" data-icon="arrow-l" data-role="button">后退</a>
        <h1>用户登录</h1>
        <a href="#!/reg" class="ui-btn-right" data-icon="edit" data-role="button">注册</a>
    </header>

    <section data-role="content">

        <div ng-class="failedInfo.textboxClass">
            {{failedInfo.text}}
        </div>

        <form ng-submit="submit()" data-ajax="false" src="">
            <div data-role="fieldcontain">
                <label for="name">用户名:</label>
                <input type="text" name="name" ng-model="userprams.name" required id="name" value=""  placeholder="请填写一个名字"/>
            </div>

            <div data-role="fieldcontain">
                <label for="psw">密码:</label>
                <input type="password" name="psw" ng-model="userprams.psw" required id="psw"  placeholder="请填写密码"/>
            </div>

            <div data-role="fieldcontain">
                <label for="flip-1">记住登录信息:</label>
                <select ng-init='remember="on"' ng-model="remember" name="flip-1" id="flip-1" data-role="slider">
                    <option value="off">不记住</option>
                    <option value="on">记住</option>
                </select>
            </div>

            <input id="loginSubmit" ng-init="subBtn={isOff:false,submitText:'提交'}" type="submit" ng-disabled="subBtn.isOff" value="{{subBtn.submitText}}" />

        </form>

    </section>


</div>
<!--登录结束-->


</body>
</html>