<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>登录</title>
</head>
<body>

<!--TODO 登录-->
<div ng-controller="loginCtrl" id="pagelogin" data-position="fixed" data-role="page" ngm-pagebeforeshow="refreshTodos()" ngm-swipeleft="showSettings()">
    <header data-role="header">
        <a data-rel="back" class="ui-btn-left" data-icon="arrow-l" data-role="button" ngm-vclick="">后退</a>
        <h1>用户登录</h1>
        <a href="#!/register" id="goRegister" class="ui-btn-right" data-icon="edit" data-role="button" ngm-vclick="">注册</a>
    </header>

    <section data-role="content">

        <form ng-submit="submit()">
            <div data-role="fieldcontain">
                <label for="name">用户名:</label>
                <input type="text" name="name" ng-model="userprams.name" id="name" value="" required placeholder="请填写一个名字"/>
            </div>

            <div data-role="fieldcontain">
                <label for="psw">密码:</label>
                <input type="password" name="psw" ng-model="userprams.psw" id="psw" required placeholder="请填写密码"/>
            </div>

            <div data-role="fieldcontain">
                <label for="flip-1">记住登录信息:</label>
                <select ng-init='remember="on"' ng-model="remember" name="flip-1" id="flip-1" data-role="slider">
                    <option value="off">不记住</option>
                    <option value="on">记住</option>
                </select>
            </div>

            <input type="button" ngm-vclick="submit()" value="提交" />

        </form>

    </section>

    <div ng-init="pop={}" data-role="popup" id="popupCloseRight" data-opened="pop.content" class="ui-content" style="max-width:80%">
        <a href="#" ngm-vclick="pop.content=null" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
        <p>{{pop.content}}</p>
    </div>
</div>
<!--登录结束-->


</body>
</html>